@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.main-image-gradient {
  background: linear-gradient(to bottom, white 20%, transparent 55%);
}

.cars-image-gradient {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 35%, transparent 100%);
}

.contacts-image-gradient {
  background: linear-gradient(to bottom, white 0%, transparent 100%);
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background-color: #e1e8f0;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(159, 161, 193);
  cursor: pointer;
}


@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

.notification {
  animation: slideIn 0.5s forwards;
}

.notification-exit {
  animation: slideOut 0.5s forwards;
}

.outlined-text {
  font-size: 200px; 
  color: transparent; 
  text-shadow: 
      0 0 5px rgba(255, 255, 255, 1), 
      0 0 10px rgba(255, 255, 255, 1), 
      0 0 15px rgba(255, 255, 255, 1), 
      0 0 20px rgba(255, 255, 255, 1);
}